<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707605612558-mnnho2alms4o27v3blf7vae26n22a00i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707605612558-mnnho2alms4o27v3blf7vae26n22a00i</string>
	<key>API_KEY</key>
	<string>AIzaSyBnBn914_73Gsg-CCY_z6DGKu5NMpjbtUY</string>
	<key>GCM_SENDER_ID</key>
	<string>707605612558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youssefwasfy.flashchatflutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3302a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3302a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707605612558:ios:a2524759479d414d5d945f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3302a.firebaseio.com</string>
</dict>
</plist>